/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

@keyframes slideDown {
    from{top: -100px;
    opacity: 0;}
    to{top: 48px;
    opacity: 1;}
    
}


.navbar-container{
    display: flex;
    position: sticky;
    top: 1px;
    margin: 0 5%;
    background-color: rgb(255, 255, 255,0.25);
    height: 48px;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    border-radius: 0.5rem;
    z-index: 99;
    backdrop-filter: blur(10px);
}
.logo-name{
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.logo{
    mix-blend-mode: color-burn;
    height: 50px;
}
.name{
    font: 1.5rem 'Road Rage', cursive;
    z-index: 99;
}
.navitems{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 11%;
    padding: 0;
    gap: 1.5rem;
    flex-grow: 1;
}
.icons-container{
    position: relative;
    display: flex;
    gap: 1rem;
    cursor: pointer;
    align-items: center;
    height: 48px;

}
.nav-bar-links{
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 6px 18px;
    

}
.nav-bar-links:hover{
    color: var(--primary-color);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.nav-button{
    color: white;
    background-color: var(--primary-color);
    border-radius: 2.2rem;   
}
.nav-button:hover{
    color: white; 
}
.icons{
    position: relative;
    color: black;
}
.hamburger-menu{
    display: none;
}
.circle-cart{
    position: absolute;
    inset: -8px -8px auto auto;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: var(--primary-color);
    padding: 0;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.drop-down-menu{
    list-style: none;
    background-color: var(--white-bg-transparent-30);
    position: absolute;
    top: 48px;
    left: 0;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
    font-size: 16px;
    animation-name: slideDown;
    animation-duration: 0.3s;
    backdrop-filter: blur(10px);
}

.drop-down-links{
    color: black;
    text-decoration: none;
}
.drop-down-links:active{
    color: var(--primary-color);
}

@media screen and (max-width:955px){

.navbar-container{
    top: 1px;
    margin: 0 5%;
    height: 48px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 16px;
    border-radius: 0.5rem;
    z-index: 99;
    backdrop-filter: blur(10px);
}
.navbar-container.active{
    height: 250px;
}
.navitems {
    display: none;
    position: fixed;
    z-index: 99;
    top: 48px;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1.5rem;
    box-sizing: border-box;

}
.navitems.active{
    display: flex;
}

.hamburger-menu{
    display:block;
}
.nav-button{
    background-color: #ffffff00;
    border-radius:0;

    color: black;
}
.nav-button:hover{
    color: var(--primary-color);
}
.name{
    font-size: 1.1rem;
}

}