/* Footer.css */

.footer {
    background-color: #ffbb00fa;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer a:hover {
    color: #ffc107; /* Change this to your desired hover color */
  }
  